<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.du"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />
    
	<uses-permission 
	    android:name="android.permission.INTERNET" /> 
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity android:name=".Splash"
	    	android:label="@string/app_name"
	    	android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
	    	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
        <activity android:name=".Disclaimer"
	    	android:label="@string/app_name"
	    	android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		</activity>

        <activity android:name=".Springboard"
            android:theme="@style/BigTitlebarTheme"
	    	android:label="@string/app_name"
	    	android:icon="@drawable/logo" />
	    	
	    <activity android:name=".Social"
            android:theme="@style/BigTitlebarTheme"
	    	android:label="@string/app_name"
	    	android:icon="@drawable/logo" />	    
	    
	    <activity android:name=".Cic"
            android:theme="@style/BigTitlebarTheme"
	    	android:label="@string/app_name"
	    	android:icon="@drawable/logo" />	    
	    	
	    <activity android:name=".GenericMenu"
            android:theme="@style/BigTitlebarTheme"
	    	android:label="@string/app_name"
	    	android:icon="@drawable/logo" />
        	
    </application>
	

</manifest>